<%- include('layout', { title: 'Account' }) %>
<div class="container">
  <h1>Account</h1>

  <% if (user) { %>
    <p>Welcome, <%= user.name %>!</p>
    <p>Email: <%= user.email %></p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <p>You are not logged in.</p>
    <button class="btn btn-dark"><a style="text-decoration: none; color: white;" href="/login">Login</a></button>
  <% } %>
</div>
