<%- include('layout', { title:''}) %>
<div class="container">

    <div class="form-container">
        <div class="form-container signin">
            <form action="/login" method="post">
                <h1>Log into your Account</h1>
                <input type="email" name="email"
                placeholder="Email" required>
                <input type="password" name="password"
                placeholder="Password" required>
                <button class="btn btn-dark" type="submit" style="display: block; margin: auto;">Login</button>
                <% if (error) { %>
                    <div class="alert"><%= error %></div>
                <% } %>             
            </form>
        </div>
        <div class="form-container signup">
            <form action="/register" method="post">
                <h1>or Register Here</h1>
                <input type="text" name="username"
                placeholder="Type your name" required>
                <input type="email" name="email"
                placeholder="Email" required>
                <input type="password" name="password" type="submit"
                placeholder="Password" required>

                <button class="btn btn-dark" type="submit" style="display: block; margin: auto;">Register</button>
            </form>
        </div>
    </div>

</div>
